{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Про Реєстр - Реєстр громадських об'єднань{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-12">
        <h3>Про Реєстр Громадських Об'єднань</h3>
        <hr>
        <p>
            Даний реєстр створений студентами ФПМ КП-51 Гончаром Максимом та Бабенко Валерієм у якості роботи
            над предметом "	Компоненти програмної інженерії 4. Системна архітектура, проектування та розроблення ПЗ".
        </p>
        <p>Даний реєстр є відображенням <a href="http://rgo.informjust.ua/">офіційного сайту реєстру</a>.</p>
        <hr>
        <h4>Нормативні документи</h4>
        <ul>
            <li><a href="http://zakon2.rada.gov.ua/laws/show/4572-17">
                Закон України від 22.03.2012 № 4572-VI «Про громадські об’єднання»
            </a></li>
            <li><a href="http://zakon2.rada.gov.ua/laws/show/1212-2012-%D0%BF">
                Постанова Кабінету Міністрів України від від 19 грудня 2012 р. № 1212
                «Про затвердження Порядку ведення Реєстру громадських об’єднань»
            </a></li>
        </ul>
        <h4>Надання ідентифікаторів доступу до реєстрів</h4>
        <ul>
            <li><a href="http://zakon5.rada.gov.ua/laws/show/z1568-15">
                Наказ Міністерства юстиції України від 25.12.2015 № 2586/5
                «Про впорядкування відносин з державної реєстрації речових прав на нерухоме майно та їх обтяжень,
                державної реєстрації юридичних осіб та фізичних осіб – підприємців»
            </a></li>
            <li><a href="http://zakon5.rada.gov.ua/laws/show/z1568-15#n21">
                Порядок надання ідентифікаторів доступу до Єдиних та Державних реєстрів,
                держателем яких є Міністерство юстиції України
            </a></li>
        </ul>
        <hr>
        <h4>Версія Реєстру: 0.0.1</h4>
        <h4>Api Map для розробників: <a href="{% url 'apimap' %}">Посилання</a></h4>
    </div>
</div>
{% endblock %}
