{% extends "core/base.html" %}
{% import "core/_macros_navbar.html" as navbar_macro %}

{% block title %}WIDT-Правила пользования сайтом{% endblock %}

{% block navbar %}
    {{ navbar_macro.navbar(current_user) }}
{%- endblock %}

{% block page_content %}

    <div class="page-header text-center">
        <h1>Правила пользования сайтом</h1>
    </div>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <h2>Обзор</h2>
            <p style="font-size: 1.4em; text-align: justify;">WIDT блог должен производить неизменно приятное впечатление на своих пользователей
                независимо от их происхождения или национальности.
                Для этого на сайте существуют правила поведения.
                Документы, приведенные здесь, содержат соответствующую информацию относительно политики
                нашей работы и наши настоятельные рекомендации к поведению пользователей.
                Вот несколько важных моментов:
            <ul style="font-size: 1.2em;">
                <li>Воздержитесь от раздраженных высказываний, оскорблений и угроз в адрес остальных пользователей.</li>
                <li>Воздержитесь от любых оскорблений в адрес младших.</li>
                <li>Воздержитесь от бесполезных сообщений в адрес сайта или любого пользователя на этом сайте.</li>
                <li>Не публикуйте защищённые авторским правом документы без разрешения.</li>
                <li>Не вторгайтесь в личную сферу других пользователей.</li>
                <li>Не нарушайте законы Украины или ваши местные законы.</li>
            </ul>
        </div>
    </div>

{% endblock %}