{% extends "core/base.html" %}
{% import "core/_macros_pagination.html" as paginmacro %}
{% import "core/_macros_navbar.html" as navbar_macro %}

{% block title %}{{ title }}Лайки поста id{{ post.id }}{% endblock %}

{% block navbar %}
    {{ navbar_macro.navbar(current_user) }}
{%- endblock %}

{% block page_content %}
    <div class="page-header">
        <h1 class="text-center">Пост "{{ post.title }}" набрал лайки от таких пользователей:</h1>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-hover followers">
                <thead>
                <tr>
                    <th>Пользователь</th>
                </tr>
                </thead>
                {% for liker in liked_by %}
                    <tr>
                        <td>
                            <a href="{{ url_for('main.user', username=liker.username, _external=True) }}">@{{ liker.username }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}