<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Managing index</title>
</head>
<body>

<div class="container">
    <div class="row">
        <h2>Managing users index page</h2>
        <h4>back to TGAdmin index: <a href="{% url 'indexcore' %}">link</a></h4>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <h3>Kick user</h3>
            <form action="{% url 'managingkick' %}" method="post">
                {% csrf_token %}
                Id: <input type="text" name="uid"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <h3>Users in chat</h3>
            {% if chat %}
                {% for uid, u in chat.items %}
                    <p>{{ uid }} - {{ u }}</p>
                {% endfor %}
            {% else %}
                <h4>No users in chat.</h4>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <h3>Kicked users</h3>
            {% if kicked %}
                {% for uid, u in kicked.items %}
                    <p>{{ uid }} - {{ u }}</p>
                {% endfor %}
            {% else %}
                <h4>No kicked members.</h4>
            {% endif %}
        </div>
    </div>
</div>

</body>
</html>