html, body {
  height: 100%;
}

.footer {
    position: fixed;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ededed;
    text-align: center;
}

.navbar-static-top {
  margin-bottom: 19px;
}

