{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Реєстратор Головна - Реєстр громадських об'єднань{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-12">
        <h3>Вітаємо на сторінці Реєстратора Реєстру, "{{ user.username }}"!</h3>
        <hr>
        <p>Ви є адміністратором Ресурсу з <b>{{ user.date_joined }}</b>.</p>
        <p>Номер вашої особової справи: <b>{{ userinst.doc_code }}</b></p>
        <p>Ви були зареєстровані адміністратором <b>{{ userinst.hired_by.user.username }}</b></p>
        <p>Номер наказу про ваше зарахування Реєстратором: <b>{{ userinst.hired_order_code }}</b></p>
        <p>Як із Вами зв'язатись:</p>
        <pre>{{ userinst.credentials }}</pre>
        <hr>
        <p>Як Реєстратор, Ви маєте право на такі дії:</p>
        <ul>
            <li>Створювати Громадські об'єднання</li>
            <li>Змінювати, Активувати та Деактивувати Громадські об'єднання</li>
        </ul>
        <hr>
        <p>
            Для створення Громадських об'єднань, перейдіть за
            <a href="{% url 'registrantmng' %}">цим посиланням</a>.
        </p>
        <p>
            Для того, щоб змінювати конкретне Громадське об'єднання, Вам необхідно
        <ol>
            <li>Перейти на сторінку <a href="{% url 'searchorg' %}">пошуку ГО</a></li>
            <li>Знайти необхідну вам ГО</li>
            <li>Вибрати відповідну кнопку Зміни чи Активації/Деактивації ГО</li>
        </ol>
        </p>
        <hr>
        <br>
        <br>
    </div>
</div>
{% endblock %}
