<p>Уважаемый {{ user.username }},</p>
<p>Чтобы сбросить Ваш пароль, нажмите на <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}">эту ссылку</a>.</p>
<p>Если возникли проблемы, Вы можете скопировать следующую ссылку в адресную строку Вашего браузера:</p>
<p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>
<p>Если Вы не запрашивали смену пароля, просто проигнорируйте это сообщение.</p>
<p>С уважением,</p>
<p>Команда WIDT</p>
<p><small>Это служебный адрес email, его почта не проверяется.</small></p>
