<p>Уважаемый {{ user.username }},</p>
<p>Добро пожаловать в <b>WIDT блог</b>!</p>
<p>Чтобы подтвердить Ваш аккаунт, пожалуйста, перейдите по <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">ссылке</a>.</p>
<p>Если возникли проблемы, Вы можете скопировать следующую ссылку в адресную строку Вашего браузера:</p>
<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
<p>С уважением,</p>
<p>Команда WIDT</p>
<p><small>Это служебный адрес email, его почта не проверяется.</small></p>
