<!DOCTYPE html>
<!--[if lt IE 8 ]>
<html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta name="author" content="Maksym Honchar">

    {% load staticfiles %}

    <!-- Page title -->
    <title>{% block title %}КП-51 Гончар Лаб 2.3{% endblock %}</title>
    <![endif]-->
</head>

<body>

<!--Main content-->
{% block content%}
{% endblock %}
<!--End Main content-->
</body>

</html>
