{% extends "core/base.html" %}
{% import "core/_macros_pagination.html" as pagmacros %}
{% import "core/_macros_navbar.html" as macro_navbar %}

{% block title %}Admin: Модерация комментариев{% endblock %}

{% block navbar %}
    {{ macro_navbar.navbar(current_user) }}
{% endblock %}

{% block page_content %}
    <div class="page-header text-center">
        <h1>Модерация всех комментариев в системе</h1>
    </div>
    <div class="container">
        <div class="row">
            {% for comment in comments %}
                <p>
                    <a href="{{ url_for('main.comment', id=comment.id, _external=True) }}">Комментарий id{{ comment.id }}</a>"
                    "{{ comment.body }}"
                    от @{{ comment.author.username }}
                </p>
                <hr>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% if pagination %}
                <div class="pagination">
                    {{ pagmacros.pagination_widget(pagination, 'administer.admin_comments') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
