/* Large Devices, Wide Screens */
/* For screens less than 1200px */
@media only screen and (max-width: 1200px) {}
/* Medium Devices, Desktops */
/* For screens less than 992px */
@media only screen and (max-width : 992px) {
    p {
        font-size: 30px;
    }

    .message {
        padding: 2%;
    }
}
/* Small Devices, Tablets */
/* For screens less than 768px */
@media only screen and (max-width : 768px) {
    p {
        font-size: 22px;
    }

    .message {
        padding: 3% 10%;
    }
}
/* Extra Small Devices, Phones */
/* For screens less than 480px */
@media only screen and (max-width : 480px) {
    p {
        font-size: 20px;
    }
}
