{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Predicting Cryptocurrencies Price using Social Media Sentiment Analysis">
    <meta name="author" content="Maksym Honchar">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <title>{% block title %}SENTPREDAPP — None{% endblock %}</title>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'base.css' %}">

    {% block additional_script_page_startup %}
    {% endblock %}
</head>

<body>
    {% block popup_modal %}
    <div id="agreementmodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Правила використання сайту</h2>
                    <button type="button" class="close" data-dismiss="modal" id="popupclosed_cross">&times;</button>
                </div>
                <div class="modal-body">
                    <b>
                        <p>Дані та інформація наведені у сайті <u>не є</u> фінансовою або торгівельною консультацією.</p>
                        <p>SENTPREDAPP <u>не несе відповідальності</u> за помилки та упущення роботи алгоритмів, а також за
                            будь-які дії, вжиті на основі представленої на сайті інформації.</p>
                        <p>Уся інформація повинна бути перевірена користувачами перед проведенням будь-яких дій на основі
                            наявної інформації.</p>
                        <p>Користувачами SENTPREDAPP можуть бути <u>тільки повнолітні</u> особи.</p>
                    </b>
                    <p>Натискаючи кнопку "Я погоджуюсь" Ви погоджуєтесь із наведеними вище правилами використання сайту.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="popupclosed_noagreement">Я не погоджуюсь</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="popupclosed_yesagreement">Я погоджуюсь</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <nav class="navbar navbar-expand-md navbar-custom mb-4">
        <a class="navbar-brand" href="{% url 'index' %}">SENTPREDAPP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-navicon hamburgor m-1"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if currencies_page_active %}active{% endif %}">
                    <a class="nav-link" href="{% url 'currencies' %}">Криптовалюти</a>
                </li>
                <li class="nav-item {% if market_page_active %}active{% endif %}">
                    <a class="nav-link" href="{% url 'market' %}">Ринок</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item {% if news_page_active %}active{% endif %}">
                    <a class="nav-link" href="{% url 'news' %}">Новини</a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item {% if dev_page_active %}active{% endif %}">
                    <a class="nav-link" href="{% url 'dev' %}">Оновлення системних даних</a>
                </li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </nav>

    <main role="main">
        {% block content %}{% endblock %}
        <div style="display:none" id="popup"><h2>HELLO BOIIII</h2></div>
    </main>

    {% block footer %}
    <footer class="pt-4 mt-3 border-top footer-custom">
        <div class="row text-center">
            <div class="col-md m-auto">
                <h5>Про систему</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'apppurpose' %}">Призначення системи</a></li>
                    <li><a class="text-muted" href="{% url 'aboutalgo' %}">Робота алгоритмів</a></li>
                </ul>
            </div>
            <div class="col-md m-auto">
                <h5>Керівництва</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'userguide' %}">Керівництво користувача</a></li>
                    <li><a class="text-muted" href="{% url 'devguide' %}">Керівництво програміста</a></li>
                </ul>
            </div>
            <div class="col-md m-auto">
                <h5>Адміністраторам</h5>
                <ul class="list-unstyled text-small">
                    {% if user.is_authenticated %}
                    <li><a class="text-muted" href="{% url 'logout' %}">Вийти із системи</a></li>
                    {% else %}
                    <li><a class="text-muted" href="{% url 'login' %}">Вхід до системи</a></li>
                    {% endif %}
                    <li><a class="text-muted" href="{% url 'signup' %}">Реєстрація доверної особи</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright text-center py-2 footer-copyright-custom">
            <img class="mb-2" src="{% static 'logo.png' %}" alt="" width="24" height="24">
            &copy; 2019 SENTPREDAPP
        </div>
    </footer>
    {% endblock %}

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block popup_modal_script %}
    <script type="text/javascript">
        $(window).on('load', function () {
            // Load modal with disclaimer message for user if it didn't agree on terms.
            if (localStorage.getItem('popState') != 'shown') {
                $('#agreementmodal').modal('show');
            }
        });
        // If popup was closed and user agreed on terms.
        $(function () {
            $("#popupclosed_yesagreement").click(function () {
                localStorage.setItem('popState', 'shown')
            });
        });
        // If popup was closed, but user clicked 'close' button on modal.
        $(function () {
            $("#popupclosed_cross").click(function () {
                window.location.replace("https://www.google.com");
            });
        });
        // If popup was closed, but user didn't agree on terms.
        $(function () {
            $("#popupclosed_noagreement").click(function () {
                window.location.replace("https://www.google.com");
            });
        });
    </script>
    {% endblock %}

    {% block additional_script_page_end %}
    {% endblock %}
</body>

</html>