{% extends 'base.html' %}

{% load static %}

{% block title %}SENTPREDAPP — Оновлення системних даних{% endblock %}

{% block popup_modal %}
<!-- popup_modal block is skipped-->
{% endblock %}

{% block additional_script_page_startup %}
<link rel="stylesheet" href="{% static 'loader.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'jquery-ui.min.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Оновлення системних даних</h2>
    <small>Ручне оновлення історичних текстових та фінансових даних.</small>
    <hr>

    <h4>Останні дані</h4>
    <small>Збір даних, починаючи із сьогоднішнього дня. Процес пошуку припиняється при досягненні мінімальної дати, або
        до знаходження елемента, що вже існує у базі даних.</small>
    <br>
    <br>
    <p class="mb-1">Оновлення останніх текстових даних</p>
    <button type="button" class="btn btn-outline-primary" id="updTwitterLast">Twitter</button>
    <button type="button" class="btn btn-outline-primary" id="updRedditLast">Reddit</button>
    <button type="button" class="btn btn-outline-primary" id="updNewsLast">Сайти новин</button>
    <br>
    <br>
    <p class="mb-1">Оновлення останніх фінансових даних</p>
    <button type="button" class="btn btn-outline-primary" id="updFinGlobalLast">Глобальні дані</button>
    <button type="button" class="btn btn-outline-primary" id="updFinCurrenciesLast">Валюти BTC, LTC, ETH</button>
    <br>
    <br>
    <div class="updSourceLast">
    </div>
    <hr>

    <h4>Історичні дані</h4>
    <small>Збір даних, починаючи та закінчуючи встановленими датами. Пошук проводиться по всьому проміжку, існуючі у
        базі даних записи пропускаються.</small>
    <br>
    <br>
    <p class="mb-1">Вибір часового проміжку</p>
    <p>ВІД <input type="text" id="datepicker_from"></p>
    <p>ДО <input type="text" id="datepicker_to"></p>
    <p class="mb-1">Оновлення історичних текстових даних</p>
    <button type="button" class="btn btn-outline-primary" id="updTwitterRange">Twitter</button>
    <button type="button" class="btn btn-outline-primary" id="updRedditRange">Reddit</button>
    <button type="button" class="btn btn-outline-primary" id="updNewsRange">Сайти новин</button>
    <br>
    <br>
    <div class="updSourceRange"></div>
    <hr>

    <h4>Зареєстровані довірені особи</h4>
    <small>Перегляд інформації про зареєстрованих довірених осіб.</small>
    <br>
    <br>
    <ol>
        {% for user in users %}
        <li>
            <p>Користувач "<b>{{ user.username }}</b>".
                Зареєстрований: <b>{{ user.date_joined }}</b>.
                Останній вхід: <b>{{ user.last_login }}</b>
            </p>
        </li>
        {% endfor %}
    </ol>
    <br>
    <br>
</div>
{% endblock %}

{% block popup_modal_script %}
<!-- popup_modal_script block is skipped -->
{% endblock %}

{% block additional_script_page_end %}
<script>
    $(function () {
        $("#datepicker_from").datepicker();
    });
    $(function () {
        $("#datepicker_to").datepicker();
    });
</script>

<script>
    // Remove ability to click all the buttons.
    var buttons_lasts_ids = [
        "#updTwitterLast", "#updRedditLast", "#updNewsLast", "#updFinGlobalLast", "#updFinCurrenciesLast",
    ]
    var buttons_range_ids = [
        "#updTwitterRange", "#updRedditRange", "#updNewsRange"
    ]
    function disable_other_buttons(enabled_button_id_name) {
        for (let index = 0; index < buttons_lasts_ids.length; index++) {
            if (buttons_lasts_ids[index] != enabled_button_id_name) {
                $(buttons_lasts_ids[index]).attr("disabled", true);
            }
            if (buttons_range_ids[index] != enabled_button_id_name) {
                $(buttons_range_ids[index]).attr("disabled", true);
            }
        }
    };
    function enable_all_buttons() {
        for (let index = 0; index < buttons_lasts_ids.length; index++) {
            $(buttons_lasts_ids[index]).attr("disabled", false);
            $(buttons_range_ids[index]).attr("disabled", false);
        }
    };
    
    // Initialize buttons behaviour.
    var loader_html = ' \
    <div class="alert alert-warning" role="alert"> \
    <p>Завантажуються дані. Будь ласка, зачекайте.</p> \
    <div class="loader"></div> \
    </div> \
    ';
    var success_html = ' \
    <div class="alert alert-success" role="alert"> \
    <p>Успішно завантажені дані.</p> \
    </div> \
    '
    var fail_html = ' \
    <div class="alert alert-danger" role="alert"> \
    <p>Виникла помилка при завантаженні даних. Спробуйте пізніше.</p> \
    </div> \
    '
    $(document).ready(function () {
        for (let index = 0; index < buttons_lasts_ids.length; index++) {
            $(buttons_lasts_ids[index]).click(function () {
                disable_other_buttons(buttons_lasts_ids[index]);
                $("div.updSourceLast").html(loader_html);
                $.post("{% url 'api_update_last_data' %}", {
                    btn_id: buttons_lasts_ids[index].substr(1)
                })
                .done(function (data) {
                    if (data['status'] == "OK") {
                        console.log(data);
                        $("div.updSourceLast").html(success_html);
                        console.log('done');
                    }
                    else {
                        $("div.updSourceLast").html(fail_html);
                        console.log('done, but status=FAIL');
                    }
                })
                .fail(function () {
                    $("div.updSourceLast").html(fail_html);
                    console.log('fail');
                })
                .always(function () {
                    enable_all_buttons();
                    console.log('finished');
                });
            });
        }
        for (let index = 0; index < buttons_range_ids.length; index++) {
            $(buttons_range_ids[index]).click(function () {
                let from_time = document.getElementById('datepicker_from').value;
                let to_time = document.getElementById('datepicker_to').value;
                disable_other_buttons(buttons_range_ids[index]);
                $("div.updSourceRange").html(loader_html);
                $.post("{% url 'api_update_range_data' %}", {
                    btn_id: buttons_range_ids[index].substr(1), from_time: from_time, to_time: to_time 
                })
                .done(function (data) {
                    if (data['status'] == "OK") {
                        console.log(data);
                        $("div.updSourceRange").html(success_html);
                        console.log('done');
                    }
                    else {
                        $("div.updSourceRange").html(fail_html);
                        console.log('done, but status=FAIL');
                    }
                })
                .fail(function () {
                    $("div.updSourceRange").html(fail_html);
                    console.log('fail');
                })
                .always(function () {
                    enable_all_buttons();
                    console.log('finished');
                });
            });
        }
    });
</script>

{% endblock %}
