{% extends 'base.html' %}

{% load static %}

{% block title %}SENTPREDAPP — Вхід до системи{% endblock %}

{% block popup_modal %}
<!-- popup_modal block is skipped-->
{% endblock %}

{% block content %}
<form method="post" class="form-signin">
    <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'logo.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">ВХІД ДО СИСТЕМИ</h1>
        <p>Використовуйте надані адміністратором логін та пароль</p>
    </div>
    {% csrf_token %}

    <label for="id_username" class="sr-only">Логін</label>
    <input type="text" name="username" autofocus required id="id_username" class="form-control" placeholder="Логін">

    <label for="id_password" class="sr-only">Пароль</label>
    <input type="password" name="password" required id="id_password" class="form-control" placeholder="Пароль">

    {% if form.errors %}
    <div class="alert alert-danger text-center" role="alert">
        Пароль або логін були введені неправильно
    </div>
    {% endif %}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Увійти</button>
</form>
{% endblock %}

{% block footer %}
<div class="footer-copyright text-center py-2 footer-copyright-custom fixed-bottom">
    <img class="mb-2" src="{% static 'logo.png' %}" alt="" width="24" height="24">
    &copy; 2019 SENTPREDAPP
</div>
{% endblock %}

{% block popup_modal_script %}
<!-- popup_modal_script block is skipped -->
{% endblock %}