{% macro navbar(current_user, type='', fixed_top=False) -%}
    <!-- Navbar content -->
    <nav class="navbar navbar-custom {% if fixed_top -%}navbar-fixed-top{%- endif %}" role="navigation">
        <div class="container-fluid">
            <!-- Navbar header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                {% if type=='intro' -%}
                    {% set brand_href="#page-top" %}
                {%- else -%}
                    {% set brand_href=url_for('main.index', _external=True) %}
                {%- endif -%}
                <a class="navbar-brand page-scroll" href="{{ brand_href }}">WIDT blog</a>
            </div>
            <!-- /Navbar header -->
            <!-- Navbar body -->
            <div class="collapse navbar-right navbar-collapse navbar-main-collapse">
                <ul class="nav navbar-nav">
                    {% if current_user.is_authenticated -%}
                        {% if current_user.is_authenticated and not current_user.confirmed -%}
                            <li><a href="{{ url_for('auth.resend_confirmation', _external=True) }}">Подтвердить аккаунт</a></li>
                        {%- endif %}
                        <li>
                            <a href="{{ url_for('main.top', _external=True) }}">Топ</a>
                        </li>
                        <li>
                            <a href="{{ url_for('main.feed', _external=True) }}">Моя лента</a>
                        </li>
                        <li>
                            <a href="{{ url_for('main.users', _external=True) }}">Пользователи</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">{{ current_user.username }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ url_for('main.user', username=current_user.username, _external=True) }}">Мой
                                        аккаунт</a></li>
                                <li><a href="{{ url_for('main.settings', _external=True) }}">Настройки</a></li>
                                <li><a href="{{ url_for('auth.logout', _external=True) }}">Выйти</a></li>
                            </ul>
                        </li>
                    {%- else -%}
                        {% if type=='intro' -%}
                            <li>
                                <a href="#whatisit" class="page-scroll">Что это?</a>
                            </li>
                            <li>
                                <a href="#community" class="page-scroll">Сообщество</a>
                            </li>
                            <li>
                                <a href="#services" class="page-scroll">Сервисы</a>
                            </li>
                            <li>
                                <a href="#signupsection" class="page-scroll">Присоединиться</a>
                            </li>
                            <li class="login-link">
                                <a href="{{ url_for('auth.login', _external=True) }}">Войти</a>
                            </li>
                        {%- elif type=='join' -%}
                            <li class="login-link">
                                <a href="{{ url_for('auth.signup', _external=True) }}">Присоединиться</a>
                            </li>
                        {%- elif type=='login' -%}
                            <li class="login-link">
                                <a href="{{ url_for('auth.login', _external=True) }}">Войти</a>
                            </li>
                        {%- elif type=='signup' -%}
                            <li>
                                <a href="{{ url_for('main.legal', _external=True) }}">Правила сайта</a>
                            </li>
                            <li class="login-link">
                                <a href="{{ url_for('auth.login', _external=True) }}">Войти</a>
                            </li>
                        {%- elif type=='empty' -%}
                        {%- else %}
                            <li>
                                <a href="{{ url_for('auth.signup', _external=True) }}">Присоединиться</a>
                            </li>
                            <li>
                                <a href="{{ url_for('auth.login', _external=True) }}">Войти</a>
                            </li>
                        {% endif %}
                    {%- endif %}
                </ul>
            </div>
            <!-- /Navbar body -->
        </div>
    </nav>
    <!-- /Navbar content -->
{%- endmacro %}
